#            _ __                   _____
#     ____ _(_) /__________  ____  / __(_)___ _
#    / __ `/ / __/ ___/ __ \/ __ \/ /_/ / __ `/
#  _/ /_/ / / /_/ /__/ /_/ / / / / __/ / /_/ /
# (_)__, /_/\__/\___/\____/_/ /_/_/ /_/\__, /
#  /____/                             /____/
#
# Author: Harold Kim
# Version: 1.0


[user]
    name = pokoot
    email = pokoot@gmail.com

[push]
    default = matching

[color]
    ui = true
    branch = auto
    diff = auto
    status = auto

[diff]
    tool = vimdiff

[merge]
    tool = vimdiff

[difftool]
    prompt = false

[alias]
    s = status -s
    st = status
    f = fetch -v
    d = diff
    b = branch -av
    p = push
    co = checkout
    l = log --pretty=format:' %C(yellow)%h  %C(magenta)%ad %Cgreen%d %Creset%s | %C(red)%an ' --date=short
    ll = log --pretty=format:' %C(yellow)%h  %C(magenta)%ad %Cgreen%d %Creset%s | %C(red)%an ' --date=relative
    undo-commit = reset --soft HEAD^
    unstage = reset HEAD

